@{
    ViewBag.Title = "Login";
    Layout = null;
}
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AMNEVH</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="~/Content/innser_css/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/innser_css/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/innser_css/assets/css/form-elements.css">
    <link rel="stylesheet" href="~/Content/innser_css/assets/css/style.css">
    <link rel="shortcut icon" href="~/Content/innser_css/favicon.png">

    <script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-L1HYPXS3SB&amp;cx=c&amp;_slc=1"></script>
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script>
    (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-106554787-1', 'auto');
        ga('send', 'pageview');</script>
</head>
<body>

    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <img src="~/Content/innser_css/logo.png" alt="">
                        <img src="~/Content/innser_css/logo-mlzs.png" alt="">
                        <div class="bora">
                            <div class="bora_in">

                                <div class="col-md-6 inaa_no">
                                    <div class=" text inaa">

                                        <img src="~/Content/innser_css/assets/top1.jpg">

                                        <div class="form-top">
                                            <div class="">
                                                <h3 class="pooda">Welcome to AMNEVH !</h3>

                                                <p>Enter your username and password to log in:</p>

                                            </div>

                                        </div>
                                        <div class="form-bottom">
                                            <form method="post" action="./" id="validation">
                                                <div class="aspNetHidden">
                                                    <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUJOTk2MDA3NzM2ZGT4MDNjgBbhXzybDM2UFIMquW9mCQ==">
                                                </div>

                                                <div class="aspNetHidden">

                                                    <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="CA0B0334">
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" for="form-username">Username</label>

                                                    <input name="Username" type="text" id="Username" placeholder="Username..." class="form-username form-control" required="">


                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" for="form-password">Password</label>
                                                    <input name="password" type="password" id="password" placeholder="Password..." class="form-username form-control" required="">
                                                </div>

                                                <input type="submit" name="Button1" value="Sign In !" id="Button1" class="btn">

                                            </form>
                                        </div>

                                    </div>
                                </div>


                                <div class="col-md-6 inaa_no">
                                    <div class=" text ">

                                        <img src="~/Content/innser_css/assets/top2.jpg">




                                    </div>
                                </div>


                            </div>
                            <div class="bora_in">

                                <div class="col-md-12 inaa_no">
                                    <div class="  top_div">
                                        <div class="heada">
                                            <span>
                                                Our Collaborations
                                            </span>

                                        </div>
                                        <div class="imgaa">
                                            <div class="col-md-3">
                                                <img src="~/Content/innser_css/assets/b1.jpg">
                                                <br>
                                                <span>We are affiliated to <br>CBSE</span>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="~/Content/innser_css/assets/b2.jpg">
                                                <br>
                                                <span>NIIT MATHS LAB <br>Exclusive In City</span>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="~/Content/innser_css/assets/b3.jpg">
                                                <br>
                                                <span>
                                                    Our <br>
                                                    Smartclass Partner
                                                </span>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="~/Content/innser_css/assets/b4.jpg">
                                                <br>
                                                <span>Future Shiksha <br> Our Innovation Partner</span>
                                            </div>
                                        </div>


                                    </div>
                                </div>





                            </div>


                            <div class="copyt">
                                Help : amnevh@gmail.com
                                <br>
                                Copyright © 2017 MLZS ETAWAH. All rights reserved   | Design by : <a href="#" target="_blank">MLZS ETAWAH.</a>

                            </div>

                        </div>

                    </div>


                </div>

            </div>
        </div>

    </div>
</body>
</html>